.word {
  animation: fadein 1s forwards 0s ease;
}

.skew {
  animation: skew 1s forwards 0s ease;
}

.skew2 {
  animation: skew 1s forwards 0.3s ease;
}

.skew3 {
  animation: skew 1s forwards 0.6s ease;
}

.logoImage {
  animation: fadeinLeft 1s forwards 0s ease;
}

.fadeinleft {
  animation: fadeinLeft 1s forwards 0s ease;
}

.arrow-down {
  animation: arrowDown 0.3s forwards 0s ease;
}

.arrow-right {
  animation: arrowRight 0.3s forwards 0s ease;
}

.arArrow-down {
  animation: arArrowDown 0.3s forwards 0s ease;
}

.arArrow-left {
  animation: arArrowLeft 0.3s forwards 0s ease;
}

/* ---------------------------------------- */

@keyframes fadein {
  0% {
    transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0%);
    opacity: 1;
  }
}

@keyframes skew {
  0% {
    transform: rotate(0) skewY(15deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0) skewY(0deg);
    opacity: 1;
  }
}

@keyframes fadeinLeft {
  0% {
    transform: rotate(0) translateX(-25%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateX(0%);
    opacity: 1;
  }
}

@keyframes arrowDown {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes arrowRight {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes arArrowDown {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes arArrowLeft {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0);
  }
}
