.word {
  animation: fadein 1s forwards 0s ease;
}

.skew {
  animation: skew 1s forwards 0s ease;
}

.skew2 {
  animation: skew 1s forwards 0.3s ease;
}

.skew3 {
  animation: skew 1s forwards 0.6s ease;
}

.logoImage {
  animation: fadeinLeft 1s forwards 0s ease;
}

.fadeinleft {
  animation: fadeinLeft 1s forwards 0s ease;
}

/* ---------------------------------------- */

@keyframes fadein {
  0% {
    transform: rotate(0) translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0%);
    opacity: 1;
  }
}

@keyframes skew {
  0% {
    transform: rotate(0) skewY(15deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0) skewY(0deg);
    opacity: 1;
  }
}

@keyframes fadeinLeft {
  0% {
    transform: rotate(0) translateX(-25%);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateX(0%);
    opacity: 1;
  }
}
