html {
  scroll-padding-top: 200px;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  min-height: 100%;
  overflow-y: scroll;
}
body {
  background-color: rgb(248, 248, 248) !important;
  font-family: "Cairo", sans-serif !important;
  border: 1px solid transparent;
}

h1 {
  font-family: "Cairo", sans-serif;
  font-size: 3rem !important;
  font-weight: 700 !important;
}

h5 {
  color: white;
}

strong h5 {
  color: #000000;
  font-weight: 700;
}

hr {
  border-top: 1px solid rgb(95 158 160 / 68%) !important;
  border-top-color: rgba(95, 158, 160, 0.68) !important;
}

ul {
  font-size: 1.1rem;
}

ul li img {
  margin: 5px 30px;
  width: 130px;
}

form.fillingForm {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
}

.fF-ar label {
  text-align: right !important;
}

label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

div.inputs select,
input {
  width: 250px;
}

/* ========================= ids ==================== */

#section1 {
  margin-top: 150px;
  position: relative;
}

#section2 {
  margin-top: 20px;
  border: 1px solid;
  height: 500px;
  width: 13%;
}

#section3 {
  height: 500px;
  width: 85.5%;
  margin: 20px 0 0 20px;
  border: 1px solid;
}

#lastSection {
  height: 20rem;
  background: rgb(0, 133, 186);
  background: linear-gradient(
    90deg,
    rgba(0, 133, 186, 1) 0%,
    rgba(66, 166, 173, 1) 50%,
    rgba(87, 184, 214, 1) 100%
  );
  position: relative;
}

#subButton {
  height: 45px;
  background-color: #106b79;
  color: white;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 27px;
}

#subButton:hover {
  background-color: #0a4149;
}

#filter {
  position: relative;
  left: 401px;
  top: 65px;
  width: 36%;
  height: 40px;
}

#dropdownMenuButton {
  background-color: #e4e0e4;
  border-radius: 50px;
  padding: 5px 54px;
}

/* ========================= ids ==================== */

/* ========================= Classes ==================== */

.accordion {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%;
}

.accordion .card .card-header .card-link {
  color: #41a6ac;
}

.arrowImage {
  height: 15px;
  display: inline;
  margin-right: 20px;
}

.about {
  color: white;
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/bgLetter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  background-color: rgb(1, 72, 100);
}

.inf {
  border: 4px solid #008c90 !important;
  opacity: 0;
  margin: 0 50px !important;
}

.card-body {
  padding-left: 3.3rem !important;
}

.card .card-content {
  padding: 1.25rem !important;
}

.cards {
  margin-top: 200px;
  text-align: center;
}

.card-title {
  font-weight: 700;
  padding: 8px 0;
  margin: 0 60px;
  color: white;
  background-color: #008c90;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
}

.card-text {
  font-weight: 500;
}

.contact {
  color: rgb(211, 210, 210);
  padding-top: 30px;
  margin-left: 10rem;
}

.conMail .mail {
  color: #42a5aa;
}

.contwrapper {
  padding-bottom: 100px;
  margin: 110px 300px 0 300px !important;
}

.col {
  padding: 0 !important;
}

.con-ar {
  margin-right: 60px;
}

.con-ar .mail {
  margin-right: 180px;
}

.conwh-ar {
  margin-right: 160px;
}

.conwh-ar .whats {
  margin-right: 83px;
}

.dropdown-menu {
  top: 100% !important;
  border-radius: 1rem !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.elearnImg {
  width: 100px;
  padding: 7px;
}

.fa-chevron-right {
  margin-right: 25px;
}

.fas {
  pointer-events: none;
}

.formList {
  min-height: 745.391px;
  list-style-type: none;
  padding: 0;
  margin: 100px 0 0 0;
}

.formList .formElement {
  border: 1px solid #ddd;
  margin-top: 50px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 10px;
  margin-left: 400px;
  max-width: 70rem;
}

.forms-ar {
  text-align: right;
  margin-right: 330px;
}

.formLink {
  color: #000000;
  font-size: 1.5rem;
  vertical-align: 47px;
  margin-left: 12px;
}

.form-group {
  position: absolute;
}

.form-ar {
  left: 160px;
}

.form-control {
  width: 350px !important;
}

.form-group .form-control {
  position: relative;
  left: 158px;
  padding: 0 10px;
  width: 110px !important;
  margin-top: 20px;
}

.form-ar .form-control {
  position: relative;
  right: 0px;
  padding: 0 10px;
  width: 110px !important;
  margin-top: 20px;
}

.fF-ar {
  text-align: right;
}

.highlight {
  background-color: bisque !important;
}

.inputs {
  margin: 38px 0 70px 0;
  text-align: center;
}

.imgHolder {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 4px solid rgb(95 158 160);
  background-color: rgb(255, 255, 255);
  position: relative;
  margin-top: -55px;
}

.infoar {
  text-align: right;
}

.loc-ar {
  left: 100px !important;
  right: unset !important;
}

.loc-ar h3 {
  left: unset !important;
  right: -120px !important;
}

.logoImage {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 70px;
  top: -70px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;
  z-index: 1;
}

.last-ar {
  text-align: right;
  padding-right: 100px;
}

.lastContact {
  bottom: 0;
  width: 100%;
}

.logo {
  height: 150px;
}

.liar {
  right: 70px !important;
}

.location {
  right: 100px;
  position: absolute;
  top: 25px;
}

.location h3 {
  position: absolute;
  top: 5px;
  left: -120px;
  color: #d3d2d2;
}

.mail {
  color: #b9fff6;
  margin-right: 70px;
  margin-left: 70px;
  transition: 0.4s;
}
.mail:hover {
  color: turquoise;
}

.map {
  height: 200px;
  width: 350px;
  border: 2px solid rgb(23, 93, 95);
  border-radius: 9px;
}

.navbar {
  z-index: 2;
  padding: 0 16px !important;
  background: rgb(0, 133, 186);
  background: linear-gradient(
    90deg,
    rgba(0, 133, 186, 1) 0%,
    rgba(66, 166, 173, 1) 50%,
    rgba(66, 166, 173, 1) 100%
  );
}

.nav-link {
  color: white !important;
}

.nav-item {
  padding: 6px;
  transition: 0.3s;
}

.nav-lang {
  display: none;
}

.nav-item:hover {
  background-color: rgb(1, 72, 100);
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

.PO {
  margin-top: 15px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  padding: 30px 20px 40px 29px;
  border-radius: 17px;
}

.rights {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.royalLogo {
  margin: 10px 10px 0 0;
  float: right;
  height: 130px;
}

.sidenav {
  width: 230px;
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 10px;
  background-color: rgb(4, 142, 167);
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border: 0px solid #000000;
  margin-left: -10px;
}

.sidenav a {
  padding: 20px 8px 15px 16px;
  text-decoration: none;
  font-size: 1.04rem;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(4, 99, 116);
}

.sidenav hr {
  margin: 0 !important;
  border-top-color: rgb(175 175 175 / 68%) !important;
}

.side-ar {
  text-align: right;
}

.sar {
  text-align: right;
}

.sar hr {
  margin-right: 0px;
}

.searchBtn {
  background-color: steelblue !important;
  color: white !important;
}

.service {
  opacity: 0;
  padding-top: 150px;
  padding-left: 30px;
}

.space {
  height: 500px;
}

.subhead {
  margin: 10px 0 40px 0;
}

.searchForm {
  position: unset !important;
}

.topbar {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
}

.wrapper {
  font-family: "Cairo", sans-serif;
  margin: 30px 100px;
  min-height: 550px !important;
}

.wo-ar {
  margin: 50px 340px 0 0 !important;
}

.word {
  margin: 50px 350px 0 60px;
  font-family: "Cairo", sans-serif;
  font-size: 23px;
  position: absolute;
  top: 20px;
  left: 300px;
}

.whats {
  color: #ffffff;
  background-color: #11cf60;
  border-radius: 50px;
  padding: 3px 41px;
}

.whats:hover {
  text-decoration: none;
  color: #ffffff;
}
/* ======================= Classes ==================== */
